.myEditor {
  background-color:grey;
  width:400px;
  margin: 50px 0px 50px 50px;
}

.action {
  background-color:blue;
  text-align:left;
  margin-top:20px;
  margin-bottom:20px;
  padding: 30px 0px 30px 30px;
}

.pallet {
  background-color:green;
  padding-bottom:20px;
  margin-bottom:20px;
}

.layout {
  background-color:orange;
  padding-bottom:20px;
  margin-bottom:20px;
}

.pallet img {
  margin: 20px 0px 0px 15px;
  height:120px;
  width:120px;
}

.myEditor, .action, .pallet, .layout {
  border: 2px solid black;
  border-radius: 15px;
}

#lay, .layout div {
  margin: 20px 0px 0px 15px;
  height:120px;
  width:120px;
  padding: 10px;
  border: 1px solid black;
}
